@import "tailwindcss";

.prose .anchor {
    @apply absolute invisible no-underline;

    margin-left: -1em;
    padding-right: 0.5em;
    width: 80%;
    max-width: 700px;
    cursor: pointer;
}

.anchor:hover {
    @apply visible;
}

.prose a,
.underline-link {
    @apply underline decoration-neutral-100 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em] hover:text-pink-500 hover:decoration-pink-300;
    @apply transition-all;
}

a {
    @apply hover:text-pink-500 hover:decoration-pink-300;
}

.prose .anchor:after {
    @apply text-neutral-300 dark:text-neutral-700;
    content: "#";
}

.prose *:hover > .anchor {
    @apply visible;
}

.prose pre {
    @apply bg-neutral-50 dark:bg-neutral-900 rounded-lg overflow-x-auto border border-neutral-200 dark:border-neutral-900 py-2 px-3 text-sm;
}

.prose code {
    @apply px-1 py-0.5 rounded-lg;
}

.prose pre code {
    @apply p-0;
    border: initial;
    line-height: 1.5;
}

.prose code span {
    @apply font-medium;
}

.prose img {
    /* Don't apply styles to next/image */
    @apply m-0;
}

.prose p {
    @apply my-4 text-neutral-800 dark:text-neutral-200;
}

.prose h1 {
    @apply text-4xl font-medium tracking-tight mt-6 mb-2;
}

.prose h2 {
    @apply text-xl font-medium tracking-tight mt-6 mb-2;
}

.prose h3 {
    @apply text-xl font-medium tracking-tight mt-6 mb-2;
}

.prose h4 {
    @apply text-lg font-medium tracking-tight mt-6 mb-2;
}

.prose strong {
    @apply font-medium;
}

.prose ul {
    @apply list-disc pl-6;
}

.prose ol {
    @apply list-decimal pl-6;
}

.prose > :first-child {
    /* Override removing top margin, causing layout shift */
    margin-top: 1.25em !important;
    margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
    display: none;
}

pre {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

table {
    display: block;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
}

.title {
    text-wrap: balance;
}

.wrapper {
    opacity: 0; /* Start invisible */
    animation: fadeIn 1s ease-in forwards; /* 2s fade-in animation */
}

@keyframes fadeIn {
    from {
        opacity: 0; /* Start fully transparent */
    }
    to {
        opacity: 1; /* Fade to full visibility */
    }
}

.scrollbar-always-visible::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 7px;
    width: 7px;
}
.scrollbar-always-visible::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
/* dark mode color for above */
.dark .scrollbar-always-visible::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
}
/* hover */
.scrollbar-always-visible::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 105, 180, 0.8); /* Pink color */
}

.visited-blog-link a:visited {
    position: relative;
}

.visited-blog-link a:visited * {
    color: #6b7280; /* Dim the link color */
}

.visited-blog-link :visited div :last-child:after {
    content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNSAxNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTMgM0gxMlYxMkgzTDMgM1pNMkgzQzIgMi40NDc3MSAyLjQ0NzcyIDIgMyAySDEyQzEyLjU1MjMgMiAxMyAyLjQ0NzcyIDEzIDNWMTRDMTMgMTIuNTUyMyAxMi41NTIzIDEyIDExIDEySDNDMi40NDc3MiAxMiAyIDExLjU1MjMgMiAxMkwzIDNaTTEwLjM0OTggNS41MTEwNUMxMC41MDYgNS4yODMzNyAxMC40NDgxIDQuOTcyMTIgMTAuMjIwNCA0LjgxNTg3QzkuOTkyNzUgNC42NTk2MSA5LjY4MTUgNC43MTc1MSA5LjUyNTI1IDQuOTQ1MTlMNi42NDA0OCA5LjE0ODU3TDUuMTk3MzMgNy40MDg4OUM1LjAyMTAyIDcuMTk2MzUgNC43MDU4IDcuMTY2OTkgNC40OTMyNyA3LjM0MzI5QzQuMjgwNzMgNy41MTk2IDQuMjUxMzcgNy44MzQ4MiA0LjQyNzY3IDguMDQ3MzVMNi4yOTM0IDEwLjI5NjRDNi4zOTM0OCAxMC40MTcxIDYuNTQ0MzcgMTAuNDgzIDYuNzAwOTcgMTAuNDc2N0M2Ljg1NzU3IDEwLjQ2OTUgNy4wMDE3IDEwLjM4OTQgNy4wOTA0NyAxMC4yNjAxTDEwLjM0OTggNS41MTEwNVoiIGZpbGw9ImN1cnJlbnRDb2xvciIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGRpIi8+Cjwvc3ZnPgo='); /* Checkbox icon from Radix */
    position: absolute;
    right: -1.5em;
    top: 0;
}
